@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/explore.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/add.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/help.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/addons/friends-grid.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/addons/settings-icons.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/addons/discolored.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/dash.css");
@import url(https://maendisease.github.io/BetterDiscordStuff/css/boostedFavorites.css);

:root {
    --favorites-name: 'Zentai';
    --favorites-guild-icon: url(https://i.imgur.com/cFUJb7N.jpg);
    --favorites-banner: url(https://i.imgur.com/vgqmwgJ.png);

    /* category icons */
    /* Duplicate each group for additional categories (Up to 10), then replace both numbers. */
    --category-1: '';
    --c1: url(https://i.imgur.com/Xwm8bJA.png);
    
    --category-2: '';
    --c2: url(https://i.imgur.com/F3zPKAX.png);
}



.iconWrapper-2awDj, [aria-label="Help"], [aria-label="Notification Settings"], [aria-label="Inbox"] {display: none;}


/* Round message bar */
.scrollableContainer-15eg7h {
    border-radius: 25px;
}

/*Shortened channel list*/
.sidebar-1tnWFu {
        width: 200px
}


/*removes useless message bar stuff*/

button[aria-label="Send a gift"] {
    display: none;
}
/* Hide GIF picker button */
button[aria-label="Open GIF picker"] {
    display: none;
}
/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}
/* Hide annoying sticker popup window that appears when you type */
.da-channelTextArea > .container-JHR0NT {
    display: none;
}




/**
 * Snippet from #css-snippets applied the May 29, 2022 at 12:59:26 PM
 * Created by qube#3925 (411142798516027403)
* Snippet ID: 980159690912710727
 */
.newMessagesBar-1hF-9G.barBase-3xxDXu
{ width: 50%;
  left: 50%;
  border-radius: 0px 0px 0px 10px !important; }
.jumpToPresentBar-1cEnH0.barBase-3xxDXu
{ width: 46%;
  border-radius: 10px 10px 0px 0px !important; }



.wrapper-3kah-n.selected-1Drb7Z[href^="/channels/@favorites/"]  .childWrapper-1j_1ub {
       background: none !important;
}

.wrapper-3kah-n.selected-1Drb7Z[href^="/channels/@favorites/"] .childWrapper-1j_1ub::after {
       background-color: #F62B30;
    content: "";
    position: absolute;
  width: 20px; height: 20px;
    filter: blur(10px);
    opacity: 0.4;
}

.wrapper-3kah-n.selected-1Drb7Z[href^="/channels/@favorites/"] .childWrapper-1j_1ub svg path {
       fill: #F62B30;
}
/** 949325480157392916 */

/**
 * Snippet from #css-snippets applied the Jun 6, 2022 at 8:49:41 AM
 * Created by diter#0100 (967360833300627486)
 * Snippet ID: 983007226266550282
 */
.powercord-pc-icon::before {
    content: "";
    position: absolute;
    top: -6px;
    right: -4px;
    width: 32px;
    height: 20px;
    opacity: 1;
    background: url(https://powercord.dev/assets/powercord.560b7dc8.png) no-repeat;
    background-size: contain;
}
.link-1-SDSV {
    padding: 0 2px;
    margin-right: 8px;
    color: #7289d9;
}
/** 983007226266550282 */



.option-ayUoaq:after {
  display: none;
}

.communityInfoPill-2Mll66 {
  display: none;
}


.buttons-uaqb-5 > button {
    display: none;
}

/**
 * Snippet from #css-snippets applied the Jun 16, 2022 at 2:13:06 PM
 * Created by DracoClaw#0065 (341680387979870219)
 * Snippet ID: 986371270214058026
 */
.side-2ur1Qk> div[data-item-id="pc-updater"],
.side-2ur1Qk> div[data-item-id="pc-updater"] ~ div { order: 6 }

.side-2ur1Qk> div[data-item-id="pc-moduleManager-plugins"] { order: 1 !important; }
.side-2ur1Qk> div[data-item-id="pc-moduleManager-themes"] { order: 2 !important; }
.side-2ur1Qk> div[data-item-id="theme-toggler"] { order: 5 !important; }
.side-2ur1Qk> div[data-item-id="css-toggler"] { order: 4 !important; }
.side-2ur1Qk> div[data-item-id="bdCompat"] { order: 3 !important; }
.item-3XjbnG[data-item-id="pc-updater"] {
    align-items: unset !important;
    overflow: visible;
}
/** 986371270214058026 */

/**
 * Snippet from #css-snippets applied the Jul 3, 2022 at 12:03:35 PM
 * Created by Freeplay#5676 (158296466119458816)
 * Snippet ID: 992471254449803324
 */
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"] {
  background: none !important;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0;
}
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"] [class*="iconContainer-"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"],
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"] svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}
[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] {
  width: 300px !important;
  padding: 0 10px !important;
}
[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}
/** 992471254449803324 */
